<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <form th:object="${userForm}" th:action="@{/user}" method="post">

        <div th:if="${#fields.hasErrors('*')}">
            <ul>

                <li th:each="err : ${#fields.detailedErrors()}"><span th:text="${err}"> err </span></li>

            </ul>
        </div>

        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td>email</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>name</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
        </table>
        <div>
            <button type="submit">Submit</button>
            <a href="/">Back</a>
        </div>
    </form>
</body>
</html>
